@import "module/bootstrap";

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.unmargin {
  margin: 0;
}

@media all and (max-width: 480px) {
  .btn-block-xs-only {
    display:block;
    width: 98%;
    margin: 0 auto;
  }
}

.navbar-nav {
  &:last-of-type {
    margin-left: 40px;
  }
  .divider-vertical {
    width: 3px;
    height: 100%;
    display: block;
  }
}

@media all and (max-width: 480px) {
  .navbar-nav {
    &:last-of-type {
      margin-left: inherit!important;
    }
    .divider-vertical {
      display: none;
    }
  }
}

.color-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  &.white {
    background-color: white;
  }
  &.red {
    background-color: red;
  }
  &.green {
    background-color: green;
  }
  &.yellow {
    background-color: yellow;
  }
}